<div class="footer">
    <div class="links-footer">
        <a class="link-footer" href="/">Home</a>
        <a class="link-footer" href="/features">Features</a>
        <a class="link-footer" href="/docs">Documentation</a>
        <a class="link-footer" href="/contact">Contact</a>
        <!-- <div>Sign In</div> -->
    </div>
</div>