<div class="header">
    <div class="logo"><a href="/">E S C A P O P E D I A</a> 
        {{!-- <img alt="escapopedia-logo" src="assets"> --}}
    </div>
    <div class="links">
    	<a class="link" href="/">Home</a>
        <a class="link" href="/features">Features</a>
        <a class="link" href="/docs">Documentation</a>
        <a class="link" href="/contact">Contact</a>
        <!-- <div>Sign In</div> -->
    </div>
</div>