<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="styles/css/{{styles}}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/de5146ae50.js"></script>
</head>

<body>
    <div class="flex-container">
        {{>header}}
        {{{body}}}
        {{>footer}}
    </div>
</body>

</html>