<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="styles/css/{{styles}}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="flex-container">
        <div class="card">
        	<span class="logo-404">ESCAPOPEDIA</span>
        	<span class="title">LOOKS LIKE YOU WON'T BE ESCAPING TODAY.</span>
        	<span class="title">WE COULDN'T FIND THE PAGE YOU'RE SEARCHING FOR.</span>
        	<img class="gif" src="https://media.giphy.com/media/5z9yHGzFGBckv7Ov6j/giphy.gif">
        </div>
    </div>
</body>

</html>