<div class="hero">
	<span class="title large">WHAT FEATURES COME WITH THIS API?</span>
	<span class="title medium">Parse thousands of records for escape rooms across the United States.</span>
</div>
<div class="cards">
	<div class="card">
		<a href="#">
			<i class="fas fa-building"></i>
			<span>COMPANIES</span>
		</a>
	</div>
	<div class="card">
		<a href="#">
			<i class="fas fa-home"></i>
			<span>FRANCHISES</span>
		</a>
	</div>
	<div class="card">
		<a href="#">
			<i class="fas fa-map-marker-alt"></i>
			<span>LOCATIONS</span>
		</a>
	</div>
	<div class="card">
		<a href="#">
			<i class="fas fa-unlock-alt"></i>
			<span>ROOMS</span>
		</a>
	</div>
</div>