<div class="body">
	<div class="filter">
		<video autoplay muted loop>
			<source src="assets/code.mp4" type="video/mp4">
			Your browser does not support HTML5 video.
		</video>
	</div>
	<div class="hero">
		<div class="hero-title">Get access to data from thousands of escape rooms across the United States.</div>
		<div class="btn-primary">
			<a href="#">Get Started</a>
		</div>
	</div>
	<div class="slideshow">
		<img src="assets/database.png">
	</div>
</div>
