@import '../shared/header.scss';
@import '../shared/shared.scss';
@import '../shared/footer.scss';

.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    &.large {
        font-size: 1.8em;
        padding: 15px;
    }
}

.cards {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 245px;
    height: 245px;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    transition: all 0.3s;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;

    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        i {
            color: #8458eb;
            font-size: 4em;
            margin-bottom: 15px;
        }
    }

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(1.00);
        // width: 117px;
        // height: 28px;
    }
}

@media (max-width: 600px) {  
    .title.large {
        font-size: 1.5em;
    }
}