@import '../shared/header.scss';
@import '../shared/shared.scss';
@import '../shared/footer.scss';

body {
    background: unset;
}

html {
    background: #000;
}

.body {
    display: flex;
    width: 100vw;
}

.hero {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    padding: 40px;
}

.hero-title {
    font-size: 2.5em;
    padding: 55px 0;
    color: #fff;
}

.slideshow {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;

   img {
       max-width: 90%;
   }
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
  filter: blur(.4em);
  opacity: 0.5;
}

.header {
    background: none;
    box-shadow: none;

    * {
        color: #fff;
    }

    .link:hover {
        color: #ddd;
    }
}

.logo a {
        color: #fff;
}

@media (max-width: 900px) {
  .body {
      flex-direction: column;
  }
}

@media (min-height: 900px) and (max-width: 1360px) {
   .body {
      flex-direction: column;
  }
}